---
layout: default
title: Team Handbook
suppress_header: true
extra_css:
  - team-handbook.css
---

<div class="handbook-container">
  <div class="handbook-overlay">
    <div class="handbook-content">
      <h1>GitLab Team Handbook</h1>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <h2 id="feedback">Feedback</h2>
    <h3>Please make a <a href="https://gitlab.com/gitlab-com/www-gitlab-com/merge_requests">merge request</a> to suggest improvements or add clarifications. Please use <a href="https://gitlab.com/gitlab-com/www-gitlab-com/issues">issues</a> to ask questions.</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="general">
        <h2 id="general">General</h2>
          <ol>
            <li>Working at GitLab B.V. is cooperating with the most talented people you've ever worked with, being the <b>most productive</b> you'll ever be, creating software that is helping the most people you've ever reached.</li>
            <li>We recognize that inspiration is perishable, if you’re <b>enthusiastic</b> about something that generates great results in relatively little time feel free to work on that.</li>
            <li>Do what is right for our <b>customers</b> and the rest of the GitLab community, do what is best over the long term, don't be evil.</li>
            <li>We create <b>simple</b> software to accomplish complex collaborative tasks.</li>
            <li>Do <b>not</b> make jokes or unfriendly remarks about race, ethnic origin, skin colour, gender or sexual orientation.</li>
            <li>Share problems you run into, ask for help, be forthcoming with information and <b>speak up</b>.</li>
            <li>Work out in the <b>open</b>, try to use public issue trackers and repositories when possible.</li>
            <li>Share solutions you find and answers you receive with the <b>whole community</b>.</li>
            <li>If you make a mistake don't worry, correct it and <b>proactively</b> let the affected party, your team and the CEO know what happened, how you corrected it and how you changed the process to prevent future mistakes if that is needed.</li>
            <li>You can always <b>refuse</b> to deal with people that treat you bad and get out of situations that make you very uncomfortable.</li>
            <li>Everyone can <b>remind</b> anyone in the company about the above points. If there is a disagreement about the interpretations the discussion can be escalated to more people within the company without repercussions. </li>
            <li>If you are unhappy with anything (your duties, your colleague, your boss, your salary, your location, your computer) please let your boss or the CEO know as soon as you realize it, we want to solve problems while they are <b>small</b>.</li>
            <li>We want to have a great company so if you meet people that are <b>better</b> than yourself try to recruit them to join the company.</li>
            <li>It is easier to bond with people that have the same constraints, compensate for this and recognize that sales is hard because you are dependent on another organization and development is hard because you have to preserve the ability to quickly improve the product in the future.</li>
            <li>Our strategy is detailed in the <a href="https://docs.google.com/a/gitlab.com/document/d/1tco4-arhiA3V-XUJAkTtJ6zrfvT0OrUHtID2S1qVsXE/edit">GitLab Strategy document</a>, please read it and contribute.</li>
          </ol>
        </div>
        <div class="workflow">
          <h2 id="workflow">Workflow</h2>
          <ol>
            <li>Always <b>create</b> an issue for stuff you work on. If it is worth spending time on it is worth creating an issue for it since that enables other people to learn and help. You can always edit the description or close it when the problem is something different or disappears.</li>
            <li><b>'Double check'</b> issues to prevent internal confusion and us not circling back to the reporters. For example open an issue with link to ZenDesk and close the issue with copy of the response. Or you add 'Report: ' lines to the description with links to relevant issues and feature requests and ensure they are closed and note this with a comment. If you are not responsible for reporting back please do not close an issue but reassign it.</li>
            <li>If issues are related <b>crosslink</b> them (a link from each issue to the other one). Put the links in the top of the issues description with a short mention of the relation (Report, etc.). If there are more than 2 issues use one issue as the central one and crosslink all issues to this one. Please also crosslink between Zendesk and GitLab issues.</li>
            <li>Give the community the <b>chance to help</b>. For example: put issues on the feedback tracker, leave comments in rake check tests about what you can run manually and ask 'can you send a merge request to fix this?'.</li>
            <li>Do not leave issues open for a long time, issues should be <b>actionable</b> and realistic. If you are assigned but don't have time mention someone. If nobody is assigned and it is not a priority please ensure the community can help and close it.</li>
            <li>Make a conscious effort to <b>prioritize</b> your work. The priority of items depends on multiple factors: is there a team member waiting for the answer, what is the impact if you delay it, how many people does it affect, etc. What follows is a general guideline from urgent to less urgent:
            <ol>
                <li><b>Emergency</b> issues from standard or plus subscribers.</li>
                <li><b>Security</b> issues.</li>
                <li><b>Data integrity</b> (not losing data).</li>
                <li><b>Availability</b> of GitLab.com.</li>
                <li><b>Subscriber</b> questions.</li>
                <li><b>Regression</b> issues.</li>
                <li><b>Consultancy</b> work.</li>
                <li><b>Promised</b> features.</li>
                <li><b>Growth</b> efforts.</li>
                <li><b>Other</b> work.</li>
            </ol>
            </li>
            <li>Pick issues from the current milestone and only assign issues to yourself when you start to work on them.</li>
            <li>We keep our <b>promises</b> and do not make external promises without internal agreement.</li>
            <li>We try not to assign issues but to have people <b>pick issues</b> in a milestone themselves, do not pick one until you are actually working on it.</li>
            <li>Use <b>async communication</b> when possible (issues and email instead of chat), issues are preferred over email, email is preferred over Slack.</li>
            <li>If you use Slack please use a public channel whenever possible, mention the person you want to reach if it is urgent, this ensures it is easy for other people to chime in and easy to involve other people if needed.</li>
            <li>Explicitly note what <b>next action</b> you propose or expect and from who.</li>
            <li>There is no need for consensus, make sure that you give people that might have good insights a chance to respond (by /cc'ing them) but make a call yourself, <a href="https://twitter.com/sama/status/585950222703992833">consensus doesn't scale</a>.</li>
            <li>If you need to discuss with a team member for help please realize that probably the majority of the community also doesn't know, be sure to <b>document</b> the answer to radiate this information to the whole community.</li>
            <li>Be <b>specific</b> in your written communication, especially externally. Do not reply with a generalization when you can give an example.</li>
            <li>All company data should be <b>sharable</b> by default. Don't use a local text file but leave comments on an issue. Create Google docs with your company Google Apps account.</li>
            <li>Do not close an issue until it has been <b>reported</b> back to all parties and issue trackers involved.</li>
            <li>If you are assigned to merge a Merge Request and there is a merge conflict, consider trying to resolve it <b>yourself</b> instead of asking the MR creator to resolve the conflict. If it is easy to resolve you avoid a roundtrip between you and the creator and the MR gets merged sooner. This is a suggestion, not an obligation.</li>
            <li>When you create a merge request please <b>mention</b> the issue that it solves in the description but avoid auto closing it by saying Fixes #1 or Solves #1. Since we frequently have to report back to customers or the rest of the community issues are not done when the code is merged.</li>
          </ol>
        </div>
        <div class="security">
          <h2 id="security">Security</h2>
          <ol>
            <li><b>Never reuse</b> a password you use on a company account (not for another GitLab service or for a personal account).</li>
            <li>Set up a <b>password manager</b> (you probably want to use LastPass).</li>
            <li>Do not let your password manager store the <b>master password</b> (it is ok to store the login).</li>
            <li><b>Encrypt</b> your home folder (easy on Ubuntu/Debian, on OS X use FileVault2 full disk encryption).</li>
            <li>Set up a screen saver with password <b>lock</b> on your notebook. The timeout can depend on how you use your laptop.</li>
            <li><b>Report</b> suspect situations to an officer of the company.</a></li>
            <li>If you have security <b>suggestions</b> put them on the <a href="https://docs.google.com/document/d/1XxTUCMo3TJVFziI-8FYztgYb55bKkDGfVEr5_wVHg4I/edit">agenda</a>.</li>
            <li>Never <b>dismiss</b> a security report as invalid. Keep asking questions until the researcher comes to this conclusion or stops responding.</li>
            <li>Do not <b>forward</b> company emails (@gitlab.com) to a non-company email address.</li>
          </ol>
        </div>
        <div class="intellectual-property">
          <h2 id="intellectual-property">Intellectual Property</h2>
          <ol>
            <li>Take proper care of any <b>confidential</b> information you get from our customers.</li>
            <li>If you copy code always <b>check</b> the license and attribute when needed or appropriate.</li>
            <li>Check community <b>contributions</b> and do not merge it when there can be doubt about the ownership.</li>
            <li>Only an officer of the company (Sytse) <b>signs</b> legal documents such as NDA’s.</li>
          </ol>
        </div>
        <div class="benefits">
          <h2 id="benefits">Benefits</h2>
          <ol>
            <li>Dutch employees will get their <b>salary</b> wired on the 25th of every month and will receive their salary slip by email on or before that date.</li>
            <li>Spend company money like it is your <b>own</b> money before taxes (since company expenses are not taxed you can spend it a bit more liberal than your own).</li>
            <li>You don't have to ask permission before making purchases in the interest of the company. When in doubt do <b>inform</b> your manager before the purchase or after the purchase.</li>
            <li><b>File</b> your expense report 7 days after the end of the calendar quarter.</li>
            <li>Any non company expenses paid with a company credit card will have to be reported to your manager as soon as possible and <b>refunded</b> in full within 14 days.</li>
            <li><b>Mileage</b> is reimbursed according to local law: <a href="http://www.irs.gov/Tax-Professionals/Standard-Mileage-Rates">US 56 dollar cents per mile</a> in the U.S. or <a href="http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/auto_en_vervoer/auto_van_de_onderneming/autokosten/u_rijdt_in_uw_eigen_auto">19 euro cents per km</a> in the Netherlands.</li>
            <li>The company will pay for the following <b>items</b> if you need it for work, use it mainly for business and local law allows us to pay for it without incurring payroll taxes:</li>
            <li>Notebook</li>
            <li>Notebook carrying bag</li>
            <li>External monitor, keyboard, mouse, webcam and ethernet connector</li>
            <li>Headset</li>
            <li>(Height adjustable) desk</li>
            <li>Ergonomic chair</li>
            <li>Internet connection, for Dutch employees see <a href="https://docs.google.com/a/gitlab.com/document/d/1J70geARMCjRt_SfxIY6spdfpTbv_1v_KDeJtGRQ6JmM/edit#heading=h.5x5ssjstqpkq">Regeling Internet Thuis</a></li>
            <li>Mobile phone and subscription</li>
            <li>Telephone land line</li>
            <li>Skype calling credit, we can autofull your account</li>
            <li>Hangouts calling credit</li>
            <li>Office space (if working from home is not practical)</li>
            <li>Upgrade to business class on EU <=> SFO flights if it is EUR 300 or cheaper</li>
            <li>Upgrade to economy plus on EU <=> SFO flights if you’re taller than 1.95m</li>
            <li>Anything else you need? Please ask!</li>
          </ol>
        </div>
        <div class="taking-days-off">
          <h2 id="taking-days-off">Taking Time Off</h2>
          <ol>
            <li>Don't frown on people taking time off, encourage that people take care of themselves and other.</li>
            <li>You don't need to take a day off to go to the gym, go grocery shopping, doing household chores, help someone, take care of a loved one, etc. If something comes up or takes longer than expected and you have urgent tasks and you're able to communicate just ensure the rest of the team <b>knows</b> and someone can pick up any urgent tasks.</li>
            <li>You do not need to ask for permission to take days off. You do need to ensure that not more than <b>half</b> of the people that can help with availability emergencies (24/7), regular support, sales or development are gone at any moment. You can check for this on the availability calendar so be sure to add appointments early.</li>
            <li>If someone from the 24/7 team leaves set up a <b>call</b> two weeks before that so the other people can divide the on-call days.</li>
            <li>Note the days off in your employee <b>doc</b> before you create a calendar appointment. We register time off so that nobody has to feel bad for taking time off. If you want more time off than you have saved (creating a negative allowance) we can discuss this.
            <li>Add an <b>appointment</b> to the GitLab B.V. availability calendar as you know your plans, you can always change it later.</li>
            <li>In case it can be useful add your panned time off as a <b>FYI</b> on the next agenda of the team call.</li>
            <li>We suggest to take the <b>official</b> days off in the country you are currently in. The total of your paid time off should be 32 days per year, <a href="http://www.iamexpat.nl/expat-page/survival-kit/dutch-holidays">Dutch holidays</a> are 9 fixed (23 flexible, total 32), <a href="http://www.officeholidays.com/countries/usa/index.php">USA holidays</a> are 12 fixed  (20 flexible, total 32), but if you want you can also do a mix of for example the Ecuador and US holidays.</li>
            <li>We will <b>help</b> clients during official days off unless they are official days off in both the Netherlands and the U.S. We try to have people working who are in a country that don't have an official day off. If you need to work during an official day off in your country you get a day off allowance in return.</li>
            <li>Accumulated time off will not be <b>paid</b> out but it does not expire either.</li>
          </ol>
        </div>
        <div>
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">The GitLab Team Handbook</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">GitLab  B.V.</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </div>
      </div>
    </div>
  </div>
</div>